In [1]:
import pandas as pd
import numpy as np
from data_loader import get_reviews
import pathlib

N_FEATURES = 17
DATA_PATH = pathlib.Path('data')

In [15]:
path = DATA_PATH / 'ratings_with_text_ba.txt'

df_beer = get_reviews(path,N_FEATURES)
df_beer.head()

,beer_name,beer_id,brewery_name,brewery_id,style,abv,date,user_name,user_id,appearance,aroma,palate,taste,overall,rating,text,review
0,Legbiter,19827,Strangford Lough Brewing Company Ltd,10093,English Pale Ale,4.8,1360753200,brewdude1982,brewdude1982.691169,4.25,4.5,3.25,3.75,3.75,3.91,This was a 12 oz bottle poured into a snifter....,True
1,Legbiter,19827,Strangford Lough Brewing Company Ltd,10093,English Pale Ale,4.8,1357729200,AgentMunky,agentmunky.409755,4.0,3.75,3.5,3.5,3.75,3.64,Poured from a 12 ounce bottle into a pilsner g...,True
2,Legbiter,19827,Strangford Lough Brewing Company Ltd,10093,English Pale Ale,4.8,1353150000,ferrari29,ferrari29.320392,3.0,3.5,2.5,2.5,2.5,2.77,Beer poured from bottle into a Nonic shaped pi...,True
3,Legbiter,19827,Strangford Lough Brewing Company Ltd,10093,English Pale Ale,4.8,1342260000,OtherShoe2,othershoe2.233642,4.0,3.5,4.0,3.5,4.0,3.68,Pours a rich brownish red with some chill haze...,True
4,Legbiter,19827,Strangford Lough Brewing Company Ltd,10093,English Pale Ale,4.8,1335607200,brentk56,brentk56.6284,4.5,3.0,3.5,2.5,2.5,2.84,Appearance: These Strangford Lough beers pour ...,True

In [ ]:
df_beer['beer_name'].value_counts()

beer_name
Trappistes Rochefort 10           2968
Brooklyn Black Chocolate Stout    2861
Delirium Tremens                  1773
AleSmith Speedway Stout           1761
Titan IPA                         1513
                                  ...
Scorned Hooker                       1
1816 Black Lager                     1
3 Star Pale Ale                      1
Urhell                               1
Ghost Of Rita                        1
Name: count, Length: 26448, dtype: int64

In [71]:
# Let's load from BeerAdvocate, RateBeer and matched_beer_data the users.csv

users_ba = pd.read_csv(DATA_PATH / 'BeerAdvocate/users.csv')
users_ma = pd.read_csv(DATA_PATH / 'matched_beer_data/users.csv')
users_rb = pd.read_csv(DATA_PATH / 'RateBeer/users.csv')

In [41]:
# Just display amount of rows and columns
print("BeerAdvocate shape: {} rows, {} columns".format(*users_ba.shape))
print("Matched shape: {} rows, {} columns".format(*users_ma.shape))
print("RateBeer shape: {} rows, {} columns".format(*users_rb.shape))

print("Columns of BA: {}".format(users_ba.columns))
print("Columns of MA: {}".format(users_ma.columns))
print("Columns of RB: {}".format(users_rb.columns))

BeerAdvocate shape: 153704 rows, 6 columns
Matched shape: 3021 rows, 13 columns
RateBeer shape: 70174 rows, 5 columns
Columns of BA: Index(['nbr_ratings', 'nbr_reviews', 'user_id', 'user_name', 'joined',
       'location'],
      dtype='object')
Columns of MA: Index(['ba', 'ba.1', 'ba.2', 'ba.3', 'ba.4', 'ba.5', 'ba.6', 'rb', 'rb.1',
       'rb.2', 'rb.3', 'rb.4', 'rb.5'],
      dtype='object')
Columns of RB: Index(['nbr_ratings', 'user_id', 'user_name', 'joined', 'location'], dtype='object')

In [78]:
users_ba.head()

,nbr_ratings,nbr_reviews,user_id,user_name,joined,location
0,7820,465,nmann08.184925,nmann08,1.199704e+09,"United States, Washington"
1,2521,2504,stjamesgate.163714,StJamesGate,1.191838e+09,"United States, New York"
2,1797,1143,mdagnew.19527,mdagnew,1.116410e+09,Northern Ireland
3,31,31,helloloser12345.10867,helloloser12345,1.101380e+09,Northern Ireland
4,604,604,cypressbob.3708,cypressbob,1.069326e+09,Northern Ireland

In [43]:
users_ma.head()

,ba,ba.1,ba.2,ba.3,ba.4,ba.5,ba.6,rb,rb.1,rb.2,rb.3,rb.4,rb.5
0,joined,location,nbr_ratings,nbr_reviews,user_id,user_name,user_name_lower,joined,location,nbr_ratings,user_id,user_name,user_name_lower
1,1220868000.0,Germany,6,6,erzengel.248045,Erzengel,erzengel,1224324000.0,Germany,8781,83106,Erzengel,erzengel
2,1348394400.0,"United States, Virginia",1,1,gendv138.695700,GenDV138,gendv138,1385722800.0,"United States, Virginia",6240,290599,GenDV138,gendv138
3,1207303200.0,"United States, Washington",3,3,nimbleprop.208928,nimbleprop,nimbleprop,1150797600.0,"United States, Washington",7452,38859,nimbleprop,nimbleprop
4,1322737200.0,Estonia,11,0,visionthing.639993,visionthing,visionthing,1242986400.0,Estonia,5462,91324,visionthing,visionthing

In [44]:
# See how many users are in common between the two datasets BA and RB
users_ba_rb = pd.merge(users_ba, users_rb, on=['user_name'], how='inner')

users_ba_rb.head()

,nbr_ratings_x,nbr_reviews,user_id_x,user_name,joined_x,location_x,nbr_ratings_y,user_id_y,joined_y,location_y
0,7820,465,nmann08.184925,nmann08,1.199704e+09,"United States, Washington",3,101495,1.265800e+09,"United States, Washington"
1,1866,23,rochefortchris.697017,RochefortChris,1.349172e+09,"United States, North Carolina",8,213410,1.345975e+09,"United States, South Carolina"
2,6306,6306,brentk56.6284,brentk56,1.084442e+09,"United States, North Carolina",1,26838,1.125742e+09,"United States, North Carolina"
3,6260,4734,emerge077.17949,emerge077,1.113646e+09,"United States, Illinois",40,46216,1.165576e+09,"United States, Illinois"
4,1851,10,buckyp.435592,buckyp,1.267960e+09,"United States, South Carolina",20,68888,1.201864e+09,"United States, Georgia"

In [45]:
# Remove if missing data
users_ba_rb = users_ba_rb.dropna()

print("Shape of BA and RB: {} rows, {} columns".format(*users_ba_rb.shape))

Shape of BA and RB: 3139 rows, 10 columns

In [61]:
# Remove lines from users_ba_rb if the user_name is in users_ma["ba.6"]
names_in_ma = users_ma["ba.6"].tolist()[1:]

filtered_users_ba_rb = users_ba_rb.copy()
filtered_users_ba_rb["user_name"] = filtered_users_ba_rb["user_name"].str.lower()
filtered_users_ba_rb = filtered_users_ba_rb[~filtered_users_ba_rb["user_name"].isin(names_in_ma)]

print(filtered_users_ba_rb.shape)

,nbr_ratings_x,nbr_reviews,user_id_x,user_name,joined_x,location_x,nbr_ratings_y,user_id_y,joined_y,location_y
1519,19,4,joedevivre.420891,joedevivre,1.264676e+09,"United States, Illinois",2,228159,1.352891e+09,"United States, Wisconsin"
1057,299,299,luckysevens82.4040,luckysevens82,1.071659e+09,"United States, Florida",2,250514,1.363950e+09,"United States, Maine"
1567,38,4,djdrdave.503643,djdrdave,1.284631e+09,"United States, Ohio",3,172999,1.336212e+09,"United States, Illinois"
3842,11,0,tyroneshu.754841,tyroneshu,1.379671e+09,"United States, Missouri",1,107545,1.275559e+09,"United States, Alabama"
3420,1,0,hayduke.395809,hayduke,1.258888e+09,"United States, New York",4673,11952,1.082628e+09,"United States, California"
1424,628,4,gogators.487964,gogators,1.281002e+09,"United States, New Jersey",1,65253,1.196766e+09,"United States, Florida"
178,401,401,quaffer.1454,quaffer,1.044011e+09,"United States, Nevada",3,29644,1.131448e+09,Ireland
1994,9,0,joeg.769219,joeg,1.386932e+09,"United States, Tennessee",2,52980,1.176631e+09,"United States, Vermont"
2786,4,1,kajestudio.913965,kajestudio,1.419505e+09,"United States, Georgia",3,350282,1.419678e+09,"United States, Alabama"
447,43,0,ammon.714542,ammon,1.358939e+09,Canada,91,363311,1.427368e+09,Poland
3514,12,1,kingkevz.744203,kingkevz,1.374919e+09,"United States, New York",1,194164,1.340446e+09,"United States, New Jersey"
1764,3,0,mustardman.874109,mustardman,1.412590e+09,"United States, Ohio",4,170473,1.334916e+09,"United States, Missouri"
1918,7,7,tresmonos.278959,tresmonos,1.229857e+09,"United States, South Carolina",1,324569,1.404295e+09,Spain
3418,2,1,plbogen.733910,plbogen,1.369390e+09,"United States, Tennessee",1,71823,1.205924e+09,"United States, Texas"
2957,13,13,gildobeer.285744,gildobeer,1.231499e+09,"United States, California",1,109968,1.279188e+09,"United States, Alabama"
2232,21,0,amhendrick.774335,amhendrick,1.388920e+09,"United States, Virginia",1,295964,1.388920e+09,"United States, Alabama"
3552,5,5,zen.5201,zen,1.078657e+09,"United States, New York",34,5509,1.031134e+09,"United States, California"
1726,42,2,sudcutter.728666,sudcutter,1.366020e+09,"United States, Massachusetts",1,287875,1.383995e+09,"United States, Maine"
1829,15,15,foamyhead.6741,foamyhead,1.086948e+09,Denmark,12,142899,1.322392e+09,"United States, California"
1439,11,9,homebrewed.111243,homebrewed,1.165748e+09,"United States, Minnesota",4,45215,1.163761e+09,Norway

In [89]:
names_filter = users_ba["user_name"].to_list()
names_filter = [str(name).lower() for name in names_filter]

filtered_users_ma = users_ma[~users_ma["ba.6"].isin(names_filter)]
print(filtered_users_ma.shape)

(1, 13)